{% extends "::base.html.twig" %}

{% block title %}AppBundle:Tag:Miniature{% endblock %}

{% block body %}
<h1>Welcome to the Tag:Miniature page</h1>
{{livre.titre}} {{livre.dateParution}}
{% endblock %}

